# To use pandas , we'll have to import the module as following.

In [1]:
import pandas as pd

# Creating data
There are two core objects in pandas: the DataFrame and the Series

# DataFrame

A DataFrame is a table. It contains an array of individual entires, each of which has a certain value. Each entry corresponds to a row(or record) and a column.

In [2]:
pd.DataFrame({'Yes':[50, 21], 'No':[131, 2]})

   Yes   No
0   50  131
1   21    2

In the previous example, '0, NO' corresponds to '131' and '1, Yes' corresponds to '21'.

DataFrame entires are not limited to integers. For instance, here's a DataFrame whose values are strings.

In [3]:
pd.DataFrame({'Guys':['Ashish', 'Kunal'], 'Girls':['Priti', 'Divya']})

     Guys  Girls
0  Ashish  Priti
1   Kunal  Divya

# Syntax for creating such dataframe objects
Its like a dcitioinary whose keys are column names and whose vlaues are a list of entires.

This dictionary-list constructor assigns values to the column labels, but just uses an ascending count from 0 for the row labels.
The list of the row labels used in a DataFrame is known as an Index. We can assign vlaues to this Index.

In [5]:
pd.DataFrame({'Skills':['Python', 'Machine Learning'], 'Academics':["CG", "Extracurricular"]},
            index=['Priority 1', 'Priority 2'])

                      Skills        Academics
Priority 1            Python               CG
Priority 2  Machine Learning  Extracurricular

# Series
A series by contrast is a sequence of data values. If a DataFrame is a table, a Series is a list.

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A series, in essence, a single column of a DataFrame. We can assign column values to the Series using an index parameter. However, a Series does not have a column name, it only has one over all name.

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'],
         name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

# Reading data files

Data can be stored in any of a number of different forms and formats. Ex: .csv files.
CSV file is a table of values separated by commas. Hence the name is "Comma-Separated Values" or CSV.

In [8]:
wine_reviews = pd.read_csv("E:/winemag-data_first150k.csv")

In [9]:
wine_reviews.shape

(150930, 11)

In [11]:
wine_reviews.head() # grabs the first five rows

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [17]:
# instead of 'index', we use 'index_col' while working with .csv files.
wine_reviews = pd.read_csv("E:/winemag-data_first150k.csv", index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude