In [1]:
from pyspark import SparkContext
from pyspark.sql import Row, SparkSession

In [2]:
# create a spark session
sc = SparkContext.getOrCreate()
spark = SparkSession.builder.getOrCreate()

Letâ€™s create a little data frame:

In [3]:
df = spark.createDataFrame(
[
    Row(id=1, value='value1'),
    Row(id=2, value='value2')
])

df.show()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

In [4]:
# let's print the schema
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)


Now we register this DataFrame as query table and issue an SQL statement against it. Please note that the result of the SQL execution returns a new DataFrame we can work with.

In [5]:
df.createOrReplaceTempView('df_view')

# execute sql query on df_view
df_result = spark.sql('select value from df_view where id=2')

# examine the contexts of the result
df_result.show()

+------+
| value|
+------+
|value2|
+------+

In [6]:
# get the result as a string
df_result.first().value

'value2'

In [7]:
# count the number of rows or you can say records in the database
df.count()

2