# Groupwise Analysis

One function we've been using heavily thus far is the value_counts() function. We can replicate what value_counts() does by doing the following:

In [1]:
import pandas as pd

In [2]:
wine_reviews = pd.read_csv("winemag-data_first150k.csv")

In [3]:
wine_reviews.groupby('points').points.count()

points
80       898
81      1502
82      4041
83      6048
84     10708
85     12411
86     15573
87     20747
88     17871
89     12921
90     15973
91     10536
92      9241
93      6017
94      3462
95      1716
96       695
97       365
98       131
99        50
100       24
Name: points, dtype: int64

groupby() created a group of reviews which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the points() column and counted how many times it appeared. value_counts() is just a shortcut to this groupby() operation.

In [4]:
wine_reviews.groupby('points').price.max()

points
80       80.0
81      354.0
82      150.0
83      225.0
84      225.0
85      320.0
86      495.0
87      325.0
88      325.0
89      500.0
90      535.0
91     2013.0
92      670.0
93      770.0
94     1100.0
95      850.0
96     1300.0
97     1100.0
98     1900.0
99     2300.0
100    1400.0
Name: price, dtype: float64

In [5]:
wine_reviews.groupby('winery').apply(lambda df: df.iloc[0])

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
winery,,,,,,,,,,,
'37 Cellars,57621,US,"The name refers to the year 1937, a classic ye...",NaN,88,NaN,Washington,Columbia Valley (WA),Columbia Valley,Cabernet Sauvignon,'37 Cellars
1+1=3,65037,Spain,"As in previous years, this wine just isn't tha...",Cabernet Sauvignon,82,18.0,Catalonia,Penedès,NaN,Rosé,1+1=3
10 Knots,36335,US,"Hot in alcohol, simple in everything else, thi...",Moonraker,81,35.0,California,Paso Robles,Central Coast,Grenache,10 Knots
1000 Stories,4904,US,Exotically fruity with an enticing floral char...,Bourbon Barrel Aged Batch No 13,90,19.0,California,California,California Other,Zinfandel,1000 Stories
1040FU,127243,US,"Unripe, with green peppercorn and asparagus no...",NaN,82,25.0,California,Santa Barbara County,Central Coast,Syrah,1040FU
...,...,...,...,...,...,...,...,...,...,...,...
Ñandú,36333,Argentina,The lighter-style nose that focuses on red plu...,NaN,82,17.0,Mendoza Province,Mendoza,NaN,Malbec,Ñandú
Único Luis Miguel,70583,Chile,From Ventisquero and the Mexican crooner Luis ...,Gran Reserva,85,15.0,Maipo Valley,NaN,NaN,Cabernet Sauvignon,Único Luis Miguel
àMaurice,11290,US,"While this wine starts out a bit reductive, it...",Gamache Vineyard,93,35.0,Washington,Columbia Valley (WA),Columbia Valley,Malbec,àMaurice
áster,49001,Spain,"Coconut and saline aromas fold in toast, berry...",Crianza,87,26.0,Northern Spain,Ribera del Duero,NaN,Tempranillo Blend,áster
Štoka,3173,Slovenia,This orange-style wine is dark straw in color ...,Grganja,90,23.0,Kras,NaN,NaN,Vitovska,Štoka

For even more fine-grained control, you can also group by more than one column. For an example, here's how we would pick out the best wine by country and province:

In [6]:
wine_reviews.groupby(['country', 'province']).apply(lambda df : df.loc[df.points.idxmin()])

                            Unnamed: 0    country  \
country   province
Albania   Mirditë                 4642    Albania
Argentina Mendoza Province        7793  Argentina
          Other                  19350  Argentina
Australia Australia Other        56830  Australia
          New South Wales        60250  Australia
...                                ...        ...
Uruguay   Juanico               136732    Uruguay
          Montevideo              6235    Uruguay
          Progreso                7178    Uruguay
          San Jose               46914    Uruguay
          Uruguay               137018    Uruguay

                                                                  description  \
country   province
Albania   Mirditë           This garnet-colored wine made from 100% Kallme...
Argentina Mendoza Province  Tropical, soapy aromas are yeasty and flat. Fl...
          Other             Weird, green, spicy and odd smelling, with har...
Australia Australia Other   Light and insubstantial in the mouth, with fla...
          New South Wales   Smells and tastes like the fruit juice blends ...
...                                                                       ...
Uruguay   Juanico           If it were only true that the stock black cher...
          Montevideo        A good example of South American Albariño, thi...
          Progreso          Concentrated, ripe aromas of blackberry and ca...
          San Jose          Straightforward and honest with aromas of Fern...
          Uruguay           The rubber and tree bark are common for Urugua...

                                      designation  points  price  \
country   province
Albania   Mirditë                             NaN      88   20.0
Argentina Mendoza Province                    NaN      80   13.0
          Other                     Martin Fierro      80   10.0
Australia Australia Other            Nottage Hill      80    9.0
          New South Wales               Rams Leap      81   12.0
...                                           ...     ...    ...
Uruguay   Juanico           Selección de Barricas      81   22.0
          Montevideo                          NaN      89   25.0
          Progreso                            RPF      88   22.0
          San Jose                            NaN      82   19.0
          Uruguay              Reserva del Virrey      80   18.0

                                    province                 region_1  \
country   province
Albania   Mirditë                    Mirditë                      NaN
Argentina Mendoza Province  Mendoza Province                  Mendoza
          Other                        Other             Tulum Valley
Australia Australia Other    Australia Other  South Eastern Australia
          New South Wales    New South Wales                   Mudgee
...                                      ...                      ...
Uruguay   Juanico                    Juanico                      NaN
          Montevideo              Montevideo                      NaN
          Progreso                  Progreso                      NaN
          San Jose                  San Jose                      NaN
          Uruguay                    Uruguay                      NaN

                           region_2             variety             winery
country   province
Albania   Mirditë               NaN             Kallmet             Arbëri
Argentina Mendoza Province      NaN          Chardonnay       Tres Exilios
          Other                 NaN  Cabernet Sauvignon    Bodegas Borbore
Australia Australia Other       NaN          Pinot Noir             Hardys
          New South Wales       NaN              Shiraz    Canonbah Bridge
...                             ...                 ...                ...
Uruguay   Juanico               NaN           Red Blend  Bodegones Del Sur
          Montevideo            NaN            Albariño              Bouza
          Progreso              NaN              Tannat             Pisano
          San Jose              NaN           Red Blend           Tanterra
          Uruguay               NaN              Tannat      Dante Irurtia

[455 rows x 11 columns]

Another groupby() method worth mentioning is agg(), which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [7]:
wine_reviews.groupby(['country']).price.agg([len, max, min])

                            len     max   min
country
Albania                     2.0    20.0  20.0
Argentina                5631.0   250.0   4.0
Australia                4957.0   850.0   5.0
Austria                  3057.0  1100.0   8.0
Bosnia and Herzegovina      4.0    13.0  12.0
Brazil                     25.0    35.0  11.0
Bulgaria                   77.0    28.0   7.0
Canada                    196.0   145.0  12.0
Chile                    5816.0   400.0   5.0
China                       3.0    27.0   7.0
Croatia                    89.0    65.0  12.0
Cyprus                     31.0    22.0  10.0
Czech Republic              6.0    25.0  15.0
Egypt                       3.0     NaN   NaN
England                     9.0    75.0  38.0
France                  21098.0  2300.0   5.0
Georgia                    43.0    40.0   9.0
Germany                  2452.0   775.0   5.0
Greece                    884.0   120.0   7.0
Hungary                   231.0   764.0   7.0
India                       8.0    20.0  10.0
Israel                    630.0   150.0   8.0
Italy                   23478.0   900.0   5.0
Japan                       2.0    24.0  24.0
Lebanon                    37.0    51.0  12.0
Lithuania                   8.0    10.0  10.0
Luxembourg                  9.0    50.0  36.0
Macedonia                  16.0    25.0  12.0
Mexico                     63.0   108.0  12.0
Moldova                    71.0    42.0   8.0
Montenegro                  2.0    10.0  10.0
Morocco                    12.0    35.0   6.0
New Zealand              3320.0   125.0   7.0
Portugal                 5322.0   980.0   4.0
Romania                   139.0   320.0   4.0
Serbia                     14.0    42.0  15.0
Slovakia                    3.0    16.0  15.0
Slovenia                   94.0    90.0   7.0
South Africa             2258.0   145.0   5.0
South Korea                 4.0    16.0  11.0
Spain                    8268.0   770.0   4.0
Switzerland                 4.0    38.0  19.0
Tunisia                     2.0     NaN   NaN
Turkey                     52.0   120.0  14.0
US                      62397.0  2013.0   4.0
US-France                   1.0    50.0  50.0
Ukraine                     5.0    13.0  13.0
Uruguay                    92.0    60.0   7.0

# MultiIndexes

A multi-index differs from a regular index in that it has multiple levels. For example:

In [8]:
countries_reviewed = wine_reviews.groupby(['country','province']).description.agg([len, max])

In [9]:
countries_reviewed
type(countries_reviewed.index)

pandas.core.indexes.multi.MultiIndex

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value. Dealing with multi-index output is a common "gotcha" for users new to pandas.

In [10]:
countries_reviewed.reset_index() # Converting back to a regular index

,country,province,len,max
0,Albania,Mirditë,2,This garnet-colored wine made from 100% Kallme...
1,Argentina,Mendoza Province,4742,nky aromas of raspberry and blackberry. This s...
2,Argentina,Other,889,You don't see much South American Tannat outsi...
3,Australia,Australia Other,553,“Won't cost you an arm and a leg” is Fat Croc'...
4,Australia,New South Wales,246,Young Hunter Valley Sémillon is one of the mos...
...,...,...,...,...
450,Uruguay,Juanico,19,"Weighty and rich, but the melon core to this U..."
451,Uruguay,Montevideo,3,Clove and barrel spice are dominant factors in...
452,Uruguay,Progreso,5,Ripe aromas of raisin and cassis come with cre...
453,Uruguay,San Jose,15,While this ranks as one of the best Uruguayan ...
454,Uruguay,Uruguay,18,This wine captures the enigma that is Uruguaya...

# Sorting
- Grouping returns data in index order, not in value order.
- To get the data in order, sort using sort_values()

In [11]:
countries_reviewed = countries_reviewed.reset_index()

In [12]:
countries_reviewed

,country,province,len,max
0,Albania,Mirditë,2,This garnet-colored wine made from 100% Kallme...
1,Argentina,Mendoza Province,4742,nky aromas of raspberry and blackberry. This s...
2,Argentina,Other,889,You don't see much South American Tannat outsi...
3,Australia,Australia Other,553,“Won't cost you an arm and a leg” is Fat Croc'...
4,Australia,New South Wales,246,Young Hunter Valley Sémillon is one of the mos...
...,...,...,...,...
450,Uruguay,Juanico,19,"Weighty and rich, but the melon core to this U..."
451,Uruguay,Montevideo,3,Clove and barrel spice are dominant factors in...
452,Uruguay,Progreso,5,Ripe aromas of raisin and cassis come with cre...
453,Uruguay,San Jose,15,While this ranks as one of the best Uruguayan ...
454,Uruguay,Uruguay,18,This wine captures the enigma that is Uruguaya...

In [14]:
countries_reviewed.sort_values(by='len')

,country,province,len,max
154,Greece,Central Greece,1,"Aromas of opulent white fruit, flowers, peach ..."
207,Greece,Zitsa,1,"Made in Zitsa, the only area within Epirus, Gr..."
115,Cyprus,Pafos,1,"This Cypriot white has a rich, lemony nose and..."
362,Slovenia,Slovenska Istra,1,This Slovenian orange-style wine spends 30 mon...
213,Hungary,Pannon,1,Aromas of lemon curd and lemon pith are bright...
...,...,...,...,...
407,Spain,Northern Spain,4892,"Zesty, edgy red berry aromas are bright, scrat..."
122,France,Bordeaux,6111,"“For me, this vintage is what makes Margaux sp..."
242,Italy,Tuscany,7281,“Piano... Piano” means “easy... easy” in Itali...
442,US,Washington,9750,“Vif” is a French word that loosely translates...
422,US,California,44508,“Whole cluster” refers to the fermentation pra...

- sort_values() defaults to an ascneding sort. To get descening sort:

In [16]:
countries_reviewed.sort_values(by='len', ascending=False)

,country,province,len,max
422,US,California,44508,“Whole cluster” refers to the fermentation pra...
442,US,Washington,9750,“Vif” is a French word that loosely translates...
242,Italy,Tuscany,7281,“Piano... Piano” means “easy... easy” in Itali...
122,France,Bordeaux,6111,"“For me, this vintage is what makes Margaux sp..."
407,Spain,Northern Spain,4892,"Zesty, edgy red berry aromas are bright, scrat..."
...,...,...,...,...
410,Switzerland,Neuchâtel,1,The bouquet of this wine shows condensed fruit...
411,Switzerland,Ticino,1,"A soft blackberry, vanilla and plum nose is fo..."
412,Switzerland,Valais,1,Vanilla and lemon curd aromas bring nuance and...
413,Switzerland,Vino da Tavola della Svizzera Italiana,1,"A savory nose of smoked meats, pepper and spic..."
175,Greece,Krania Olympus,1,"Lemon, orange and tangerine aromas are followe..."

- sort_index has same arguments and default order

In [17]:
countries_reviewed.sort_index()

,country,province,len,max
0,Albania,Mirditë,2,This garnet-colored wine made from 100% Kallme...
1,Argentina,Mendoza Province,4742,nky aromas of raspberry and blackberry. This s...
2,Argentina,Other,889,You don't see much South American Tannat outsi...
3,Australia,Australia Other,553,“Won't cost you an arm and a leg” is Fat Croc'...
4,Australia,New South Wales,246,Young Hunter Valley Sémillon is one of the mos...
...,...,...,...,...
450,Uruguay,Juanico,19,"Weighty and rich, but the melon core to this U..."
451,Uruguay,Montevideo,3,Clove and barrel spice are dominant factors in...
452,Uruguay,Progreso,5,Ripe aromas of raisin and cassis come with cre...
453,Uruguay,San Jose,15,While this ranks as one of the best Uruguayan ...
454,Uruguay,Uruguay,18,This wine captures the enigma that is Uruguaya...

- We can sort more than one column at a time

In [21]:
countries_reviewed.sort_values(by=['len', 'country'], ascending=False)

,country,province,len,max
422,US,California,44508,“Whole cluster” refers to the fermentation pra...
442,US,Washington,9750,“Vif” is a French word that loosely translates...
242,Italy,Tuscany,7281,“Piano... Piano” means “easy... easy” in Itali...
122,France,Bordeaux,6111,"“For me, this vintage is what makes Margaux sp..."
407,Spain,Northern Spain,4892,"Zesty, edgy red berry aromas are bright, scrat..."
...,...,...,...,...
95,Chile,San Clemente,1,Charred and heavily oaked from the opening gun...
49,Bulgaria,Rose Valley,1,This intriguing white blend starts with combin...
42,Brazil,Serra do Sudeste,1,"This wine's cola, forest floor, cherry and cas..."
43,Brazil,Vale Trentino,1,Notes of cherry and wet-animal fur define the ...
17,Austria,Langenlois,1,"A nice package, but one that lacks intensity. ..."